@font-face {
	font-family: agency;
	src: url("AGENCYR.TTF");
}

body {
	margin: 0 auto;
	width: 100%;
	background-image: url("images/bg/carbon.png");
	font-family: agency;
	overflow-x: hidden;
}

/*****************************TOPNAV**************************/
div#welcomeDiv {
	display: inline;
	float: right;
}

.logo img {
	position: relative;
	width: 50%;
	height: auto;
	margin: 20px;
}

.topnav {
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
	background-color: #ffffff;
	overflow: hidden;
}

.topnav li a {
	float: left;
	display: block;
	color: #ba0808;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition-duration: 0.5s
}

.topnav li a:hover {
	background-color: #6f7074;
}

#msgBenvenuto {
	color: white;
	float: right;
	margin: 30px;
	top: 0;
	z-index: 1;
}

#user {
	width: 3%;
	height: auto;
	padding-left: 5px;
}

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	float: right;
	width: 25px;
	height: auto;
}

.dropbtn {
	border: none;
	background: transparent;
	background-image: url(images/grafica/account.png);
	background-size: 20px auto;
	background-repeat: no-repeat;
	float: right;
	height: 25px;
	width: 25px;
	z-index: 2;
	position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	transform: translate("-100%, 0");
	z-index: 1;
	font-size: large;
	overflow: hidden;
	position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a, #logoutBttn {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/*****************************LOGIN*******************/
.top {
	float: left;
	width: 700px;
	display: inline;
}

.utente {
	float: right;
	display: inline;
	background-color: #c0c0c0;
	color: #ba0808;
	width: 320px;
	height: 50px;
	border: 3px solid black;
	border-radius: 5px;
}

.formlogin #errorLabel{
	color: red;
    position: absolute;
    transform: translateX(-110%);
    background-color: gold;
    padding: 10px;
}

.formlogin {
	position: relative;
	top: 15px;
	right: 25px;
	float: right;
	display: inline;
	width: 220px;
	border: 5px solid #c0c0c0;
	background-color: #f1f1f1;
}

.formlogin label {
	padding-left: 10px;
	margin-top: 5px;
}

input[type=text], input[type=password], input[type=number], textarea[type=text]
	{
	padding: 10px 5px 10px 5px;
	margin: 10px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#searchBarProd {
	width: 80%;
	margin-left: 10%;
	padding: 10px 5px 5px 10px;
}

.logbutton {
	background-color: #ba0808;
	color: white;
	padding: 8px 3px;
	margin: 10px 10px 10px 10px;
	border: none;
	cursor: pointer;
	width: 200px;
	opacity: 0.8;
}

.logbutton:hover {
	opacity: 1.0;
}

.utente {
	position: relative;
	top: 10px;
	right: 30px;
	float: right;
	width: 300px;
	height: auto;
	background-color: #f1f1f1;
}

.utente h3, .utente h1, .utente a {
	padding-right: 10px;
	color: #ba0808;
	text-decoration: none;
}


/**********************************MENU HOME******************************/
.menu {
	width: 100%;
}

#menuriga li {
	position: relative;
	list-style-type: none;
}

#menuriga li a:link, .menuriga2 li a:link, menuriga1 li a:active,
	.menuriga2 li a:active, menuriga1 li a:hover, .menuriga2 li a:hover,
	#menuriga li a:visited, .menuriga2 li a:visited {
	text-decoration: none;
}

#menuriga li div {
	margin: 10px;
	width: 600px;
	height: 200px;
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
	color: white;
	box-shadow: 5px 5px 10px #000000;
	margin-left: 50%;
	transform: translate(-50%, 0);
	cursor: pointer;
}

#menuriga li div h1 {
	position: relative;
	top: 75%;
	text-decoration: none;
	text-shadow: 5px 5px 10px #000000;
}

#prod {
	background-image: url("images/grafica/prod.jpg");
	background-size: 600px 200px;
	transition-duration: 0.5s;
}

#prod:hover {
	background-image: url("images/grafica/prod2.jpg");
}


#contatti {
	background-image: url("images/grafica/contatta.jpg");
	background-size: 600px 200px;
	transition-duration: 0.5s;
}

#contatti:hover {
	background-image: url("images/grafica/contatta2.jpg");
}

#reg {
	background-image: url("images/grafica/registrati.jpg");
	background-size: 600px 200px;
	transition-duration: 0.5s;
}

#reg:hover {
	background-image: url("images/grafica/registrati2.jpg");
}


/************************************REGISTRAZIONE************************************/
.reglayout {
	background: rgb(0, 0, 0);
	background: transparent\9;
	background: rgba(0, 0, 0, 0.3);
	border: 2px solid #ba0808;
	border-radius: 15px;
	margin: 20px 20px 20px 20px;
	padding: 5px 5px 5px 5px;
	color: white;
}

.reglayout section {
	padding: 30px;
	line-height: 1.5;
}

#registrationForm {
	margin-left: 30px;
}

#registrationForm input {
	width: 50%;
}

.regbutton {
	width: 100px;
	height: 40px;
}

/********************FOOTER***********************/
.footer {
	clear: both;
	background-color: #6f7074;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 1px;
	text-align: center;
	width: 100%;
}

.footer ul {
	padding: 0px;
}

.footer ul li {
	list-style-type: none;
}

.footer ul li p {
	line-height: 0.6;
	font-size: 8pt;
}

.footer ul li a img {
	height: 30px;
	width: 30xp;
}



/*********************CONTATTI*****************************/
.contactsWrapper {
	text-align: center;
	font-size: 62.5%;
	font-family: 'Cinzel';
	font-weight: 400;
}

.contactsWrapper #content {
	border-radius: 10px;
}

.contactsWrapper #iuImg {
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 75px;
}

.contactsWrapper #content {
	position: relative;
	max-width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	background-color: #e1d8b7; /* IU Cream */
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD",
		"Book Antiqua", Georgia, serif;
	-webkit-box-shadow: 1em 0 2em #000, -1em 0 3em #000;
	-moz-box-shadow: 1em 0 2em #000, -1em 0 3em #000;
	box-shadow: 1em 0 2em #000, -1em 0 3em #000;
}

.contactsWrapper main {
	max-width: 601px;
	margin: 0 auto;
}

.contactsWrapper ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.contactsWrapper .shadow {
	text-shadow: -3px 3px 3px #aea79f;
}

.contactsWrapper .titleCon {
	font-family: 'Cinzel', serif;
	font-weight: 400;
}

.contactsWrapper h1 {
	margin: 0 auto;
	padding-top: 75px;
	font-size: 7em;
	text-decoration: underline;
}

.contactsWrapper h2 {
	font-size: 2em;
	margin-bottom: 1em;
}

.contactsWrapper div.location {
	margin: 0 auto;
	position: relative;
}

.contactsWrapper div.addressWrapper {
	display: inline-block;
	width: 49%;
	margin: 65px auto;
	vertical-align: top;
}

.contactsWrapper .address li {
	font-size: 2em;
	padding: .25em;
}

.contactsWrapper iframe {
	display: inline;
	max-width: 50%;
	min-width: 300px;
	margin: 0 auto;
	border: 1px solid #7d110c; /* IU Crimson */
}

.contactsWrapper .clear {
	clear: both;
}

.contactsWrapper .contact {
	margin: 3em auto 0;
}

.contactsWrapper .contact li {
	padding: 1em .5em;
	display: inline-block;
	font-size: 2em;
}

.contactsWrapper .contact li+li {
	border-left: 1px solid #7d110c;
}

.contactsWrapper .contact li a:link {
	color: #7d110c;
}

.contactsWrapper .contact li a {
	text-decoration: none;
	padding: .5em;
	border-radius: 4px;
}

.contactsWrapper .contact span:after {
	content: attr(data-pc);
}

@media screen and (max-width: 600px) {
	.contactsWrapper .contact span:after {
		content: attr(data-mobile);
	}
	.contactsWrapper div.addressWrapper {
		margin: 0 auto 3em;
		display: block;
	}
	.contactsWrapper ul.contact li a {
		border: 3px solid #44697D;
		background-color: #C59217;
	}
}

@media screen and (min-width: 266px) and (max-width: 386px) {
	.contactsWrapper .contact li:last-child {
		border: none;
	}
}

@media screen and (max-width: 265px) {
	.contactsWrapper .contact li:nth-child(2) {
		border: none;
	}
}

.contactsWrapper div#quote p {
	font-size: 2em;
	margin: 2em auto 0;
}

.contactsWrapper div#quote p span {
	float: right;
	font-size: .8em;
}

.contactsWrapper div#quote p q {
	font-size: 1em;
	font-style: italic;
}

#labelLog:hover {
	color: red;
}

/**************************MEDIA*****************************/
@media ( max-width : 1100px) {
	.formlogin label {
		display: none;
	}
	.formlogin #errorLabel {
		display: inline;
	}
}

@media ( max-width : 850px) {
	.formlogin input {
		width: 140px;
	}
	.formlogin .logbutton {
		float: right;
		width: 50px;
		position: absolute;
		right: 0px;
	}
}

@media ( max-width : 555px) {
	.formlogin {
		position: absolute;
		width: 100px;
	}
	.formlogin input {
		width: 80px;
		margin: 5px;
		height: fit-content;
	}
	.formlogin .logbutton {
		float: right;
		width: 50px;
		position: relative;
		right: 0px;
		width: -webkit-fill-available;
		margin: 2px;
	}
}

@media ( max-width : 580px) {
	div#welcomeDiv {
		position: absolute;
	}
}

@media ( max-width : 640px) {
	#menuriga li div {
		width: 80%;
		background-position-x: center;
	}
}

#logoutBttn {
	padding: 0;
	border: none;
	background: none;
	color: red;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: large;
}